---
import Header from "../../../components/Header.jsx";
---

<Header lang="fr" />

<main class="max-w-5xl mx-auto px-6 py-12">
  <h1 class="text-3xl font-bold mb-4">Objectifs</h1>
  <p>Les objectifs du projet

Nous avons fondé l'association "Makerspace Biel-Bienne" avec pour ambition d'ouvrir un makerspace dans la ville de Bienne. Ce sera un espace collaboratif offrant à ses membres des équipements et des outils (semi-)professionnels pour le travail du bois ainsi que pour divers projets créatifs.

Les objectifs principaux seront les suivants :

•	Équipement et outils : fournir aux membres un accès à des équipements et des outils (semi)professionnels pour la réalisation de projets.
 
•	Communauté et collaboration : favoriser l'interaction entre les membres, qui pourront échanger des idées, collaborer sur des projets et s'entraider pour résoudre des problèmes techniques.

•	Éducation et formation : organiser des cours et des formations pour aider les membres à apprendre comment utiliser les équipements et à développer de nouvelles compétences.
 
En conclusion, nous souhaitons créer un environnement stimulant qui encourage la fabrication, l'expérimentation et la créativité grâce à l'accès à des outils et à une communauté collaborative.

Un lieu similaire a été créé il y a quelques années à côté de Lausanne. Vous pouvez visiter leur site internet pour vous faire une idée plus précise de nos objectifs.

 
Le public ciblé

Les habitants de la ville de Bienne et alentours ayant besoin ponctuellement ou régulièrement d’un atelier.

Peu de personne, propriétaire ou locataire, ayant accès à un espace de travail…

Ville de Bienne = environ 56’000 habitants



Les défis du projet

L’implémentation au sein de la ville
Beaucoup de services gratuits à Bienne grâce aux nombreuses associations et aux InfoQuartiers. Ces derniers proposent d’ailleurs pour la plupart un espace partagé pour du bricolage. Le double défi : 
Proposer un atelier avec un service plus complet (qu’il ne soit pas perçu comme un énième atelier)
Proposer une adhésion à un coût raisonnable pour attirer un maximum de personnes. 

L’aspect bilingue

Équiper l’atelier

Le modèle financier 

Dans un premier temps, il serait raisonnable de dire que les entrées d’argent proviendront
Les adhésions des membres
Les abonnements
Les subventions
Les dons

Dans un second temps, selon le développement de l’association, les options suivantes pourront être évaluées 
Les cours & formations
Des services spéciaux
Évènements spéciaux
Le parrainage

Les dépenses 
Loyer + charges du local 
Achat de matériel nécessaire à l’atelier (outils, consommables, etc.)
Achat d’équipements

Le contexte
 
Quel besoin ?

Les ambitions de ce projet dépendent énormément d'un facteur majeur : le lieu

•	Type de bâtiment
•	Surface à disposition
•	Bail à loyer (loyer, durée de location, conditions)
•	Localisation = visibilité directe du lieu, du projet

 

Ces points donneront une tournure au projet

Marqueront le début du projet

Influencerons la cotisation des membres

Poseront les limites des équipements pouvant être installés

Pour nous le coût d'adhésion sera un facteur important. Les habitants de la ville de Bienne sont habitués à de nombreux services associatifs gratuits ou peu cher (Maisons de quartier,  Haus pour Bienne, Multimondo --> voir les asso sur le site de la ville)
</p>
</main>