---
import Layout from '../layouts/Layout.astro';
import ContextAlert from '../components/ContextAlert.astro';
import Markdown from '../components/Markdown.astro';

const explainer = `
Kwaroy
`;
---

<Layout title="Makerspace Biel Bienne">
    <ContextAlert class="mb-8" />
    <h1 class="mb-10">Bienvenu sur le site du Makerspace de Bienne</h1>
    <Markdown content={explainer} class="mb-10 text-lg" />
    <p>Un atelier collaboratif pour créer, apprendre et partager
    <p>
        <a href="https://docs.netlify.com/frameworks/astro/" class="btn btn-lg sm:min-w-64">Read the Docs</a>
    </p>
</Layout>
