---
import Layout from '../layouts/Layout.astro';
import ContextAlert from '../components/ContextAlert.astro';
import Markdown from '../components/Markdown.astro';

const explainer = `
KwaRrroy
`;
---

<Layout title="Makerspace Biel Bienne">
    <ContextAlert class="mb-8" />
    <h1 class="mb-10">WilkRrromen um Makerspace Biel Website</h1>
    <Markdown content={explainer} class="mb-10 text-lg" />
    <p>Un atelier collaboratif pour créer, apprendre et partager
 
</Layout>
