---
import Header from "../../components/Header.jsx";
---

<Header lang="de" />

<main class="max-w-5xl mx-auto px-6 py-12">
  <h1 class="text-3xl font-bold mb-4">Nos Projets</h1>
  <p>Pouette</p>
</main>